.chnagemdp{
    position: absolute !important;
    left :20px !important;
    width: 400px !important;
    height: 400px !important;
}
#nvmdp{
    position: absolute;
    left :70px !important;
    top :200px !important;
}
#cnfrmnvmdp{
    position: absolute;
    left :70px !important;
    top :280px !important;
}