.satatlinks1{
    position: absolute;
    top:70px;
    left:500px;
    color: white !important;
}
.satatlinks2{
    position: absolute;
    top:70px;
    left:700px;
    color: white !important;
}
.satatlinks3{
    position: absolute;
    top:70px;
    left:900px;
    color: white !important;
}
.satatlinks4{
    position: absolute;
    top:70px;
    left:1100px;
    color: white !important;
}