.New_Nom_bloc{
    position: absolute;
    left: 520px;
    top:200px;
}

.h2rename {
    position: absolute;
    width: 220px;
    height: 37px;
    left: 550px;
    top: 100px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 153.1%;
    /* identical to box height, or 37px */
    
    text-align: center;
    
    color: #FFFFFF;
}